In [69]:
import pandas as pd

In [70]:
df = pd.read_csv("droughtCAnow.csv")
df.head()

,MapDate,FIPS,County,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID
0,20210615,6001,Alameda County,CA,0.0,0.0,0.0,0.0,36.14,63.86,2021-06-15,2021-06-21,2
1,20210615,6003,Alpine County,CA,0.0,0.0,0.0,0.0,100.00,0.00,2021-06-15,2021-06-21,2
2,20210615,6005,Amador County,CA,0.0,0.0,0.0,0.0,80.58,19.42,2021-06-15,2021-06-21,2
3,20210615,6007,Butte County,CA,0.0,0.0,0.0,0.0,16.81,83.19,2021-06-15,2021-06-21,2
4,20210615,6009,Calaveras County,CA,0.0,0.0,0.0,0.0,96.08,3.92,2021-06-15,2021-06-21,2

In [71]:
df.shape

(58, 13)

In [72]:
df.columns

Index(['MapDate', 'FIPS', 'County', 'State', 'None', 'D0', 'D1', 'D2', 'D3',
       'D4', 'ValidStart', 'ValidEnd', 'StatisticFormatID'],
      dtype='object')

In [73]:
df.dtypes

MapDate                int64
FIPS                   int64
County                object
State                 object
None                 float64
D0                   float64
D1                   float64
D2                   float64
D3                   float64
D4                   float64
ValidStart            object
ValidEnd              object
StatisticFormatID      int64
dtype: object

In [74]:
df.describe()

,MapDate,FIPS,None,D0,D1,D2,D3,D4,StatisticFormatID
count,58.0,58.000000,58.0,58.0,58.000000,58.000000,58.000000,58.000000,58.0
mean,20210615.0,6058.000000,0.0,0.0,4.305517,6.531207,51.178793,37.984138,2.0
std,0.0,33.773757,0.0,0.0,17.310024,18.110590,39.276816,39.869672,0.0
min,20210615.0,6001.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,2.0
25%,20210615.0,6029.500000,0.0,0.0,0.000000,0.000000,14.800000,0.000000,2.0
50%,20210615.0,6058.000000,0.0,0.0,0.000000,0.000000,49.880000,20.510000,2.0
75%,20210615.0,6086.500000,0.0,0.0,0.000000,0.157500,93.145000,75.917500,2.0
max,20210615.0,6115.000000,0.0,0.0,88.490000,96.410000,100.000000,100.000000,2.0

In [76]:
df['E'] = df['D3'] + df['D4']
df.tail()

,MapDate,FIPS,County,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID,E
53,20210615,6107,Tulare County,CA,0.0,0.0,0.00,0.0,29.56,70.44,2021-06-15,2021-06-21,2,100.00
54,20210615,6109,Tuolumne County,CA,0.0,0.0,0.00,0.0,62.34,37.66,2021-06-15,2021-06-21,2,100.00
55,20210615,6111,Ventura County,CA,0.0,0.0,1.25,0.0,90.08,8.67,2021-06-15,2021-06-21,2,98.75
56,20210615,6113,Yolo County,CA,0.0,0.0,0.00,0.0,0.00,100.00,2021-06-15,2021-06-21,2,100.00
57,20210615,6115,Yuba County,CA,0.0,0.0,0.00,0.0,31.66,68.34,2021-06-15,2021-06-21,2,100.00

In [77]:
df.sort_values(by = 'E', ascending= False)
df.head()

,MapDate,FIPS,County,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID,E
0,20210615,6001,Alameda County,CA,0.0,0.0,0.0,0.0,36.14,63.86,2021-06-15,2021-06-21,2,100.0
1,20210615,6003,Alpine County,CA,0.0,0.0,0.0,0.0,100.00,0.00,2021-06-15,2021-06-21,2,100.0
2,20210615,6005,Amador County,CA,0.0,0.0,0.0,0.0,80.58,19.42,2021-06-15,2021-06-21,2,100.0
3,20210615,6007,Butte County,CA,0.0,0.0,0.0,0.0,16.81,83.19,2021-06-15,2021-06-21,2,100.0
4,20210615,6009,Calaveras County,CA,0.0,0.0,0.0,0.0,96.08,3.92,2021-06-15,2021-06-21,2,100.0

In [79]:
round(df.E.value_counts( normalize= True)*100, 1)

100.00    69.0
0.00       3.4
93.17      1.7
3.59       1.7
93.07      1.7
78.44      1.7
84.07      1.7
90.66      1.7
98.00      1.7
49.08      1.7
99.29      1.7
98.53      1.7
19.17      1.7
99.81      1.7
25.05      1.7
98.75      1.7
99.96      1.7
40.81      1.7
Name: E, dtype: float64

In [80]:
df[df.E == 0.00]

,MapDate,FIPS,County,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID,E
12,20210615,6025,Imperial County,CA,0.0,0.0,67.44,32.56,0.0,0.0,2021-06-15,2021-06-21,2,0.0
36,20210615,6073,San Diego County,CA,0.0,0.0,88.49,11.51,0.0,0.0,2021-06-15,2021-06-21,2,0.0

In [81]:
df.E.mean()

89.16293103448275

In [84]:
df[df.D4 == 100.00]

,MapDate,FIPS,County,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID,E
6,20210615,6013,Contra Costa County,CA,0.0,0.0,0.0,0.0,0.0,100.0,2021-06-15,2021-06-21,2,100.0
20,20210615,6041,Marin County,CA,0.0,0.0,0.0,0.0,0.0,100.0,2021-06-15,2021-06-21,2,100.0
27,20210615,6055,Napa County,CA,0.0,0.0,0.0,0.0,0.0,100.0,2021-06-15,2021-06-21,2,100.0
33,20210615,6067,Sacramento County,CA,0.0,0.0,0.0,0.0,0.0,100.0,2021-06-15,2021-06-21,2,100.0
47,20210615,6095,Solano County,CA,0.0,0.0,0.0,0.0,0.0,100.0,2021-06-15,2021-06-21,2,100.0
50,20210615,6101,Sutter County,CA,0.0,0.0,0.0,0.0,0.0,100.0,2021-06-15,2021-06-21,2,100.0
56,20210615,6113,Yolo County,CA,0.0,0.0,0.0,0.0,0.0,100.0,2021-06-15,2021-06-21,2,100.0

In [85]:
df[(df.E == 100.00) & (df.D4 != 100.00)].shape

(33, 14)

In [86]:
worst_df = df.sort_values(by='D4', ascending= False)
worst = worst_df.head(10)

In [87]:
worst.head(10)

,MapDate,FIPS,County,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID,E
27,20210615,6055,Napa County,CA,0.0,0.0,0.0,0.0,0.00,100.00,2021-06-15,2021-06-21,2,100.0
47,20210615,6095,Solano County,CA,0.0,0.0,0.0,0.0,0.00,100.00,2021-06-15,2021-06-21,2,100.0
56,20210615,6113,Yolo County,CA,0.0,0.0,0.0,0.0,0.00,100.00,2021-06-15,2021-06-21,2,100.0
33,20210615,6067,Sacramento County,CA,0.0,0.0,0.0,0.0,0.00,100.00,2021-06-15,2021-06-21,2,100.0
6,20210615,6013,Contra Costa County,CA,0.0,0.0,0.0,0.0,0.00,100.00,2021-06-15,2021-06-21,2,100.0
50,20210615,6101,Sutter County,CA,0.0,0.0,0.0,0.0,0.00,100.00,2021-06-15,2021-06-21,2,100.0
20,20210615,6041,Marin County,CA,0.0,0.0,0.0,0.0,0.00,100.00,2021-06-15,2021-06-21,2,100.0
48,20210615,6097,Sonoma County,CA,0.0,0.0,0.0,0.0,0.65,99.35,2021-06-15,2021-06-21,2,100.0
5,20210615,6011,Colusa County,CA,0.0,0.0,0.0,0.0,2.02,97.98,2021-06-15,2021-06-21,2,100.0
13,20210615,6027,Inyo County,CA,0.0,0.0,0.0,0.0,5.38,94.62,2021-06-15,2021-06-21,2,100.0

In [88]:
worst.to_csv('worst10.csv')

In [89]:
df.D4.mean()

37.98413793103448

In [90]:
df.value_counts(df['D4'] > 0.0, normalize= True)*100

D4
True     72.413793
False    27.586207
dtype: float64

In [91]:
df['None'].value_counts()

0.0    58
Name: None, dtype: int64

In [92]:
df['D0'].value_counts()

0.0    58
Name: D0, dtype: int64

In [93]:
new_df = df.drop(columns = ['State','None','ValidStart','ValidEnd','StatisticFormatID','MapDate','D0','D1','D2','D3','D4'])

In [94]:
new_df.tail()

    FIPS           County       E
53  6107    Tulare County  100.00
54  6109  Tuolumne County  100.00
55  6111   Ventura County   98.75
56  6113      Yolo County  100.00
57  6115      Yuba County  100.00

In [95]:
new_df.to_csv('fdrought.csv')

In [96]:
cadf = pd.read_csv("ca.csv")
cadf.head()

,MapDate,StateAbbreviation,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID
0,20210615,CA,0.0,0.0,5.25,9.31,52.12,33.32,2021-06-15,2021-06-21,2
1,20210608,CA,0.0,0.0,5.25,9.55,51.88,33.32,2021-06-08,2021-06-14,2
2,20210601,CA,0.0,0.0,5.39,20.15,48.41,26.04,2021-06-01,2021-06-07,2
3,20210525,CA,0.0,0.0,5.39,20.15,48.41,26.04,2021-05-25,2021-05-31,2
4,20210518,CA,0.0,0.0,5.69,20.98,57.42,15.91,2021-05-18,2021-05-24,2

In [97]:
cadf.shape

(522, 11)

In [98]:
cadf['other'] = cadf['None'] + cadf['D0']
cadf.tail()

,MapDate,StateAbbreviation,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID,other
517,20110719,CA,85.34,14.66,0.0,0.0,0.0,0.0,2011-07-19,2011-07-25,2,100.0
518,20110712,CA,87.87,12.13,0.0,0.0,0.0,0.0,2011-07-12,2011-07-18,2,100.0
519,20110705,CA,87.71,12.29,0.0,0.0,0.0,0.0,2011-07-05,2011-07-11,2,100.0
520,20110628,CA,87.71,12.29,0.0,0.0,0.0,0.0,2011-06-28,2011-07-04,2,100.0
521,20110621,CA,99.99,0.01,0.0,0.0,0.0,0.0,2011-06-21,2011-06-27,2,100.0

In [99]:
cadf.columns

Index(['MapDate', 'StateAbbreviation', 'None', 'D0', 'D1', 'D2', 'D3', 'D4',
       'ValidStart', 'ValidEnd', 'StatisticFormatID', 'other'],
      dtype='object')

In [100]:
ncadf = cadf.rename(columns={'D1':'Moderate', 'D2': 'Severe', 'D3':'Extreme', 'D4':'Exceptional'})

In [103]:
new_cadf = ncadf.drop(columns = ['StateAbbreviation', 'None', 'D0', 'ValidStart', 'ValidEnd', 'StatisticFormatID'])

In [104]:
new_cadf.head()

    MapDate  Moderate  Severe  Extreme  Exceptional  other
0  20210615      5.25    9.31    52.12        33.32    0.0
1  20210608      5.25    9.55    51.88        33.32    0.0
2  20210601      5.39   20.15    48.41        26.04    0.0
3  20210525      5.39   20.15    48.41        26.04    0.0
4  20210518      5.69   20.98    57.42        15.91    0.0

In [105]:
new_cadf.to_csv('fca.csv')